<!DOCTYPE html>
<html>
<head>
  <title>Treinti Pollo.</title>
  <link rel="stylesheet" href="<%= asset_path 'screen.css' %>" type="text/css">
</head>
<body>
  <div class="container">
    <h1 class="title">Treinti Pollo</h1>
    <ul class="games">
      <li><a href="/games/meteoros">Meteoros</a></li>
      <li><a href="/games/lets-shoot">Let's Shoot</a></li>
    </ul>
  </div>
</body>
</html>
