<!DOCTYPE html>
<html>
<head>
  <title>Treinti Pollo.</title>
  <link rel="stylesheet" href="<%= asset_path 'screen.css' %>" type="text/css">
</head>
<body>
  <hgroup>
    <h1>Treinti Pollo.</h1>
  </hgroup>
</body>
</html>
