<!DOCTYPE html>
<html>
	<head>
		<meta property="og:title" content="Space Maze"></meta>
		<meta property="og:url" content="https://www.treintipollo.com/spacemaze/index.html"></meta>
		<meta property="og:image" content="https://www.treintipollo.com/spacemaze/assets/images/LevelFrame.png"></meta>

		<meta property="og:image:width" content="200"></meta>
		<meta property="og:image:height" content="200"></meta>
		<meta property="og:type" content="game"></meta>
		<meta property="og:description" content="A 2D Scrolling Space Shooter with a built in level editor."></meta>

		<script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			window.location = "/spacemaze/index.html?dbid=" + "<%= @dbid %>";
		</script>
	</head>
	<body>

	</body>
</html>