<!DOCTYPE html>
<html>
	<head>
		<%= erb "og/space-maze".to_sym %>


		<script type="text/javascript">
			window.location = "/html5/space-maze?dbsurl=" + "<%= @dbsurl %>";
		</script>
	</head>
	<body>

	</body>
</html>