<div class="help">
	<div class="help-tab">
		<div>
			HELP
		</div>
	</div>
	<div class="help-main">
		<%= erb "help/#{game}".to_sym %>
		<div class="main-link">
			<a href="/">Treintipollo</a>
		</div>
	</div>
</div>