<div class="help">
	<div class="help-tab">
		<div>
			MORE
		</div>
	</div>
	<div class="help-main">
		<%= erb "help/#{game}".to_sym %>
		<div class="links">
			<div class="link">
				<a href="/" title="Treintipollo">
					<img alt="Treintipollo" src="/assets/apple-touch-icon.png"></img>
				</a>
			</div>
			<div class="fb link">
				<a href="#" title="Share on Facebook">
					<img alt="Share on Facebook" src="/assets/fb.png"></img>
				</a>
			</div>
			<div class="tw link">
				<a href="#" title="Share on Twitter">
					<img alt="Share on Twitter" src="/assets/tw.png"></img>
				</a>
			</div>
		</div>
	</div>
</div>