@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);

body {
  background: #eee;
}

hgroup {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

h1 {
  display: inline;
  font: bold 180px 'Londrina Sketch';
}
