@font-face {
	font-family: "Press Start 2P";
	src:
		url("PressStart2P-Regular.ttf") format("truetype"),
		url("PressStart2P-Regular.woff2") format("woff2"),
		url("PressStart2P-Regular.woff") format("woff");
	
	font-weight: normal;
	font-style: normal;
}

body {
	background: #222;
	font-family: "Press Start 2P", cursive;
	font-size: 21px;
	line-height: 2;
}

a {
	color: #ccc;
	font-size: x-large;
}

.container {
	display: flex;
	flex-direction: column;

	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
}

.title {
	margin: 0px;
	margin-bottom: 30px;
	margin-top: -120px;

	width: 100%;

	background: #000;
	color: #fff;
	font-size: 75px;
	line-height: 1.5;
	text-align: center;
	text-shadow: 5px 5px 10px #333;
}

.pollosContainer {
	display: flex;
	flex: 1;
}

.pollosLeft {
	flex: 1;
}

.pollosCenter {
	display: grid;

	justify-items: center;
	align-items: center;

	grid-template-columns: repeat(6, calc(100% / 6));
	grid-template-rows: repeat(5, calc(100% / 5));

	flex: 3;
}

.pollosRight {
	flex: 1;
}

.pollo {
	width: 100%;
}

.games {
	flex: none;

	list-style-type: none;
	text-align: center;

	opacity: 0;
}

span {
	font-size: x-large;
	color: #a76916;
}
