body {
	background: #222;
}

#main {
	position: fixed;
	
	width: 450px;
	height: 700px;

	top:50%;
    left:50%;
    margin-left:-225px;
    margin-top:-350px;
}

.hud {
	position: relative;
}

.hudText {
	color: #ffffff;
	font-family: 'Russo One', sans-serif;
}

#lives {
	position: absolute;
	top: 10px;
	left: 10px;
}

#level {
	position: absolute;
	text-align: center;
	top: 10px;
	width: 100%;
}

.hp { 
	position: absolute;
	top: 30px;
	left: 10px;
	height: 20px;
	background: #555;

	width: 150px;

	border: 2px solid #fff;
}

.hp > span {
	display: block;
	height: 100%;
	background: #2BC253;
	position: relative;
	overflow: hidden;
}

#weapon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100%;
	text-align: right;
}

#speed {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 100%;
	text-align: right;
}

#game {
	background: #000000;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

@font-face {
	font-family: 'Russo One', sans-serif;
}