<title>Let's Shoot!</title>

<meta name="application-name" content="Let's Shoot!">
<meta name="author" content="Diego Marquez">
<meta name="description" content="A multi-directional shooter inspired by Geometry Wars.">
<meta name="keywords" content="game,flash,as3,diego marquez">
<meta name="creator" content="Diego Marquez">
<meta name="publisher" content="Treintipollo">

<link rel="shortcut icon" href="<%= asset_path 'lets-shoot.ico' %>">