<title>Meteoros</title>

<meta name="application-name" content="Meteoros">
<meta name="author" content="Diego Marquez">
<meta name="description" content="A Missile Command knock-off.">
<meta name="keywords" content="game,flash,as3,diego marquez">
<meta name="creator" content="Diego Marquez">
<meta name="publisher" content="Treintipollo">

<link rel="shortcut icon" href="<%= asset_path 'meteoros.ico' %>">