<title>Space Maze</title>

<meta name="application-name" content="Space Maze">
<meta name="author" content="Diego Marquez">
<meta name="description" content="A side scrolling shooting game made using HTML5 Canvas and Javascript">
<meta name="keywords" content="game,html5,canvas,javascript,diego marquez">
<meta name="creator" content="Diego Marquez">
<meta name="publisher" content="Treintipollo">

<link rel="shortcut icon" href="<%= asset_path 'space-maze.ico' %>">