<title>Treintipollo Chat Service</title>

<meta name="application-name" content="Treintipollo Chat Service">
<meta name="author" content="Diego Marquez">
<meta name="description" content="A chat client.">
<meta name="keywords" content="game,html5,websockets,javascript,diego marquez">
<meta name="creator" content="Diego Marquez">
<meta name="publisher" content="Treintipollo">

<link rel="shortcut icon" href="<%= asset_path 'tcs.ico' %>">