<title>Once Upon a Time... IN SPACE!</title>

<meta name="application-name" content="Once Upon a Time... IN SPACE!">
<meta name="author" content="Diego Marquez">
<meta name="description" content="Vertical scrolling shmup with a few weapons and a really nice space monster!">
<meta name="keywords" content="game,html5,canvas,javascript,diego marquez">
<meta name="creator" content="Diego Marquez">
<meta name="publisher" content="Treintipollo">

<link rel="shortcut icon" href="<%= asset_path 'once-upon.ico' %>">