<div class="game-attribute">
	NAME:
</div>
<div class="game-attribute-value">
	LET'S SHOOT
</div>
<div class="game-attribute">
	YEAR:
</div>
<div class="game-attribute-value">
	2008
</div>
<div class="game-attribute">
	TECHNOLOGY:
</div>
<div class="game-attribute-value">
	FLASH / AS3
</div>
<div class="game-attribute">
	CONTROLS:
</div>
<div class="game-attribute-value">
	WASD + MOUSE
</div>
<div class="game-attribute">
	CONTACT:
</div>
<div class="game-attribute-value email">
	lets-shoot@treintipollo.com
</div>
<div class="game-attribute">
	DESCRIPTION:
</div>
<div class="game-description">
	A multi-directional shooter heavily inspired by Geometry Wars.<br/><br/>

	12 Stages, several upgrades and 5 unique bosses make for quite a challenging game. Even if only for all the wrong reasons :P<br/><br/>

	At the time an ambitious project, the main purpose behind the development was to get a hang of Flash.
</div>