<div class="game-attribute">
	NAME:
</div>
<div class="game-attribute-value">
	METEOROS
</div>
<div class="game-attribute">
	YEAR:
</div>
<div class="game-attribute-value">
	2021
</div>
<div class="game-attribute">
	TECHNOLOGY:
</div>
<div class="game-attribute-value">
	HTML5
</div>
<div class="game-attribute">
	CONTROLS:
</div>
<div class="game-attribute-value">
	MOUSE
</div>
<div class="game-attribute">
	CONTACT:
</div>
<div class="game-attribute-value email">
	meteoros@treintipollo.com
</div>
<div class="game-attribute">
	DESCRIPTION:
</div>
<div class="game-description">
	A Missile Command knock-off, not particularly inspired at that :(<br/><br/>

	2 Modes of play, 1 increasingly challenging boss and more falling rocks than you can shake a stick at!<br/><br/>

	Ported from Flash to Javascript as Flash no longer works in major browsers after December 2020.<br/><br/>
</div>