<div class="game-attribute">
	NAME:
</div>
<div class="game-attribute-value">
	SPACE MAZE
</div>
<div class="game-attribute">
	YEAR:
</div>
<div class="game-attribute-value">
	2018
</div>
<div class="game-attribute">
	TECHNOLOGY:
</div>
<div class="game-attribute-value">
	HTML5
</div>
<div class="game-attribute">
	CONTROLS:
</div>
<div class="game-attribute-value">
	KEYBOARD (Game)
	<br/><br/>
	MOUSE (Editor)
</div>
<div class="game-attribute">
	CONTACT:
</div>
<div class="game-attribute-value email">
	space-maze@treintipollo.com
</div>
<div class="game-attribute">
	DESCRIPTION:
</div>
<div class="game-description">
	A 2D side scrolling space shooting game with a built in level editor!<br/><br/>

	4 built in mazes with 4 bosses. Not very challenging but can serve as a good time waster.<br/><br/>

	You can even try your hand at the level editor if you are feeling adventurous...
</div>