<div class="game-attribute">
	NAME:
</div>
<div class="game-attribute-value">
	TREINTIPOLLO CHAT SERVICE
</div>
<div class="game-attribute">
	YEAR:
</div>
<div class="game-attribute-value">
	2020
</div>
<div class="game-attribute">
	TECHNOLOGY:
</div>
<div class="game-attribute-value">
	HTML5 / WEB SOCKETS
</div>
<div class="game-attribute">
	CONTROLS:
</div>
<div class="game-attribute-value">
	KEYBOARD AND MOUSE
</div>
<div class="game-attribute">
	CONTACT:
</div>
<div class="game-attribute-value email">
	tcs@treintipollo.com
</div>
<div class="game-attribute">
	DESCRIPTION:
</div>
<div class="game-description">
	Not so interesting chat client.
</div>