<div class="game-attribute">
	NAME:
</div>
<div class="game-attribute-value">
	Once Upon a Time... In SPACE!
</div>
<div class="game-attribute">
	YEAR:
</div>
<div class="game-attribute-value">
	2013
</div>
<div class="game-attribute">
	TECHNOLOGY:
</div>
<div class="game-attribute-value">
	HTML5
</div>
<div class="game-attribute">
	CONTROLS:
</div>
<div class="game-attribute-value">
	KEYBOARD
</div>
<div class="game-attribute">
	CONTACT:
</div>
<div class="game-attribute-value email">
	once-upon@treintipollo.com
</div>
<div class="game-attribute">
	DESCRIPTION:
</div>
<div class="game-description">
	A 2D vertical scrolling shooting game.<br/><br/>

	Take control of 1 of the 2 ships and face off against the mesmerizing tentacle space monster!<br/><br/>
</div>